h1
{
    text-align: center;
    color: blueviolet;
}


#usuario {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #usuario td, #usuario th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #usuario tr:nth-child(even){background-color: #f2f2f2;}
  
  #usuario tr:hover {background-color: #ddd;}
  
  #usuario th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blueviolet;
    color: white;
  }