<h1>Tabla de usuarios</h1>
<table id="usuario">
    <tr>
        <th *ngFor="let columna of cabeceras">
            {{columna}}

        </th>
    </tr>

    <tr *ngFor="let filas of datos">
        <td>
            {{filas.nombre}}

        </td>
        <td>
            {{filas.fecha_nacimiento}}

        </td>
        <td>
            {{filas.edad}}

        </td>

        <td >
            <ul *ngFor="let dom of getDomicilios(filas.domicilios)">
                <li>
                    {{dom}}
                </li>
            </ul>

           
        </td>
      
    </tr>
</table>